<h1 mat-dialog-title class="title">Hi</h1>
<div mat-dialog-content>
  <p>We have detected that you are accessing our site via an IP address based in the US. Unfortunately, it's currently not legal for US citizens to participate in token sales, and so to avoid issues with the SEC or any other governing body in your country, we are not at this time permitted to allow you access to our pre-sale portal.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">OK</button>
</div>
